/**** TASKBAR ****/
#taskbar {
  @include position(fixed, $left: 0, $bottom: 0);
  @include size(100%, 36px);
  z-index: 1;
  box-sizing: border-box;
  border-top: 1px solid #555;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    transparent 3px
  );

  &:before {
    @extend %mask;
  }
}

.taskbar-item {
  display: inline-block;
  color: #fff;

  &.left:before {
    @include position(absolute, 0, 0, 0, 0);
    content: "";
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.2),
        transparent 40%,
        rgba(255, 255, 255, 0.5) 95%
      ),
      linear-gradient(to right, #fff, transparent 1px),
      linear-gradient(to left, #fff, transparent 1px);
  }

  &.left {
    @include size(45px, 100%);
    position: relative;
    margin-right: 3px;

    background: {
      size: 60%;
      position: center center;
      repeat: no-repeat;
    }
  }

  &.right {
    height: 100%;
    margin-left: 8px;
    float: right;
  }
}

#start-button {
  @include size(30px);
  margin: 3px;
  background: url($iconPath+"start-button.png") no-repeat;
  background-size: contain;
  float: left;

  &.active,
  &:hover {
    filter: brightness(1.3) contrast(1.3);
  }
}

#show-desktop {
  width: 15px;
  border-radius: 3px;
  background: linear-gradient(
      135deg,
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.2),
      transparent 40%,
      rgba(255, 255, 255, 0.5) 95%
    ),
    linear-gradient(to right, #fff, transparent 1px),
    linear-gradient(to left, #fff, transparent 1px);
}

#calendar {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: small;
}

#battery {
  @include size(11px, 16px);
  position: relative;
  margin-top: 10px;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 1px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px #888;
  background: #888;

  &:before {
    @include position(absolute, $left: 25%, $bottom: 100%);
    @include size(50%, 2px);
    content: "";
    background: #fff;
  }
}

#gauge {
  @include position(relative, 0);
  @include size(100%);
  background: #fff;
}

#network {
  margin-top: 10px;

  > span {
    display: inline-block;
    width: 2px;
    background: #fff;
    margin-left: 1px;
    box-shadow: 0 0 0 1px #888;
  }

  @mixin netbar($child) {
    > span:nth-child(#{$child}) {
      height: #{(12 / 5 * $child) + "px"};
    }
  }

  @include netbar(1);
  @include netbar(2);
  @include netbar(3);
  @include netbar(4);
  @include netbar(5);
}

#start-menu {
  @include position(absolute, $bottom: 100%);
  display: none;
  height: 300px;
  padding: 6px;
  border: 1px solid #555;
  border-radius: 3px;
  box-shadow: inset 0 0 0 0.5px #fff;
  font-size: 70%;
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.6), transparent);

  &:before {
    @extend %mask;
  }

  .program,
  .link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

  > #programs {
    @include size(55%, 100%);
    background: #fff;
    border-radius: 2px;
    padding: 2px;
    box-sizing: border-box;
  }

  .program {
    height: 10%;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 33px;
    border-radius: 2px;
  }

  .program:hover {
    background-color: #cce2ef;
    border-color: #bbb;
  }

  #search {
    padding: 0;
  }

  > #links {
    @include size(45%, 100%);
    color: #fff;
    padding: 2px 5px;
    box-sizing: border-box;
  }

  hr {
    margin: 3px 0;
    border-color: #999;
  }

  .link {
    height: 9.3%;
    padding-left: 5px;
  }

  .link:not(:last-child):hover {
    border-color: #999;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2),
      rgba(0, 0, 0, 0.3) 50%,
      transparent 98%
    );
  }
}

/***** POPUP *****/
.taskbar-popup {
  @include position(absolute, $right: 0, $bottom: 120%);
  display: none;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: inset 0 0 0 1px #fff, 0 0 5px #000;
  box-sizing: border-box;
  font-size: 80%;

  > div {
    padding: 10px;
    background: #fff;
    border-top: 1px solid #ccc;
  }

  > .bottom {
    text-align: center;
    background: #f1f5fb;
    box-shadow: inset 0 1px 5px #d6e0ef;
  }

  &:before {
    @extend %mask;
  }
}

/* battery */
#battery-3d {
  display: inline-block;
  vertical-align: top;
  width: 15px;
  height: 20px;
  position: relative;
  box-shadow: 1.5px 0 0 0 #777, 0 0 0 1.5px #999;
  padding: 1.5px;
  margin: 10px;
  background: #bcbcc9;

  &:before,
  &:after,
  > .gauge:before,
  > .gauge:after {
    @include position(absolute, $left: 0);
    @include size(100%, 20px);
    @include transform(rotateX(65deg));
    content: "";
    border-radius: 50%;
    box-shadow: 0 -4px 0 1.5px #aaa;
  }

  &:after {
    background: #bcbcc9;
    bottom: -10px;
    box-shadow: 0 4px 0 1.5px #999;
  }

  &:before {
    top: -10px;
    background: #ddd;
    z-index: 2;
    box-shadow: 0 -4px 0 1.5px #aaa, 0 1.5px 3px 0 #aaa;
  }

  > .gauge {
    @include position(relative, 20%);
    z-index: 1;
  }

  > .gauge,
  > .gauge:after,
  > .gauge:before {
    background: linear-gradient(
      to right,
      #2fa02a,
      #48fd52 20%,
      #2fa02a 50%,
      #2fa02a 90%,
      #377933
    );
    box-shadow: none;
  }

  > .gauge:before {
    background: #48fe53;
    top: -10px;
    z-index: 1;
  }

  > .gauge:after {
    bottom: -10px;
  }

  > .shadow {
    @include size(100%);
    @include position(absolute, $right: -10px, $bottom: -5px);
    @include transform(rotate(60deg));
    background: linear-gradient(to bottom, transparent, #bbb);
    border-radius: 50%;
  }
}

/* calendar */
#popup-calendar {
  flex-direction: column;
  text-align: center;

  #clock {
    $size: 130px;
    $padd: 13px;
    @include size($size);

    position: relative;
    margin: 0 0 10px 10px;
    border-radius: 50%;
    box-shadow: inset 1px 1px 0 1px #bfc4c8, inset -1px 0 0 1.5px #8d8e94,
      inset -5px 0 0 #b8bec3, inset 0 0 0 5px #e9eaec, inset 0 0 0 7px #98a2ad,
      inset 3px 3px 0 8px #bfccd3;

    background: {
      color: #e0e6e9;
      image: radial-gradient(
        circle at 80% 100%,
        rgba(255, 255, 255, 0.5) 25%,
        #ccd6d9 50%,
        #e0e6e9 50%
      );
    }

    .mark {
      @include position($top: $padd, $left: 50%);
      @include size($size / 60);
      display: block;
      transform-origin: 0 $size / 2 - $padd;
      background: #7d8f9b;

      &.h {
        height: $size / 15;
      }
    }

    %center {
      @include position($bottom: 50%, $right: 50%);
      transform: translate(50%);
      transform-origin: 100% 100%;
      background: #6d7c86;
    }

    #center {
      @extend %center;
      @include size(6px);
      border-radius: 50%;
      transform: translate(50%, 51%);
    }

    #handH {
      @extend %center;
      @include size($size / 60, $size / 4);
    }

    #handM {
      @extend %center;
      @include size($size / 60, $size / 2.7);
    }

    #handS {
      @extend %center;
      @include size($size / 100, $size / 2);
    }
  }

  #days,
  #wdays {
    display: grid;
    grid-template-columns: repeat(7, calc(100% / 7));
  }

  #wdays {
    margin-top: 5px;
    border-bottom: 1px solid #ddd;
  }

  > .body {
    border-top: 0;

    &,
    #month {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    #prev,
    #next {
      @include size(0);
      border: 5px solid transparent;
    }

    #prev {
      border-right-color: #000;
    }

    #next {
      border-left-color: #000;
    }

    #curr {
      width: 100%;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0 4px;
      text-align: right;
      border: 1.5px dotted transparent;

      &.active {
        background: linear-gradient(#fff, #d1e6ff);
        border-color: #8195ae;
        border-radius: 3px;
      }
    }
  }

  a {
    color: #4b8cde;
    cursor: pointer;
  }
}
