// VARIABLES
$iconPath: "../resources/ico/";
$bgPath: "../resources/bg/";
$accPath: "../resources/acc/";
$screenw: 100vw;
$screenh: 100vh;
$headline: #3083b7;

// MIXINS
@mixin transform($prop) {
  -webkit-transform: $prop;
  -moz-transform: $prop;
  -ms-transform: $prop;
  -o-transform: $prop;
  transform: $prop;
}

@mixin icon($class, $name) {
  .#{$class} {
    background-image: url($iconPath+$name);
  }
}

@mixin position(
  $pos: absolute,
  $top: null,
  $left: null,
  $bottom: null,
  $right: null
) {
  position: $pos;
  top: $top;
  left: $left;
  bottom: $bottom;
  right: $right;
}

@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin rotate($deg) {
  .rotate-#{$deg} {
    @include transform(rotate(#{$deg}deg));
  }
}

@mixin text($prop) {
  .text-#{$prop} {
    @if (type-of($prop) ==number) {
      font-size: $prop + unquote("%") !important;
    } @else if($prop==center or $prop==right or $prop==left) {
      text-align: $prop !important;
    } @else if($prop==normal or $prop==bold) {
      font-weight: $prop !important;
    }
  }
}

@mixin space($type) {
  @each $dir, $direction in (null: null, t: top, b: bottom, l: left, r: right) {
    @for $px from 0 through 5 {
      .#{str-slice($type, 0, 1)}#{$dir}-#{$px} {
        @if ($direction==null) {
          #{$type}: #{$px}px !important;
        } @else {
          #{$type}-#{$direction}: #{$px}px !important;
        }
      }
    }
  }
}

@mixin btnAero($size, $hoverShadow: false) {
  $color: #0365c8;
  $shadow: #02d1d1;
  border-radius: 50%;
  background: radial-gradient(
      ($size * 3 / 2) $size at center 90%,
      transparent 30%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(255, 255, 255, 0.5) 50%
    ),
    linear-gradient(to top, #82dff3 5%, transparent 30%) $color;
  box-shadow: 0 1.5px 0 darken($color, 10%), 0 0 0 0.5px $color, 0 4px 0 #bbb,
    inset 0 2px 0 #ccc, inset 0 -2px 0 #91ffff,
    inset 1px -2px 0 rgba(0, 0, 0, 0.5), inset -1px -2px 0 rgba(0, 0, 0, 0.5);
  color: #fff;
  -webkit-text-stroke: 1px darken($color, 5%);

  &:hover {
    background: radial-gradient(
        ($size * 3 / 2) $size at center 90%,
        rgba(0, 255, 255, 0.3) 30%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(255, 255, 255, 0.5) 50%
      ),
      linear-gradient(to top, #82dff3 5%, transparent 30%) $color;

    @if ($hoverShadow) {
      box-shadow: 0 0 6px 1px $shadow, 0 1.5px 0 darken($color, 10%),
        0 0 0 0.5px $color, 0 2px 0 $shadow, inset 0 2px 0 #ccc,
        inset 0 -2px 0 #91ffff, inset 1px -2px 0 rgba(0, 0, 0, 0.5),
        inset -1px -2px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

// PLACEHOLDER SELECTORS
%mask {
  @include size(100%);
  @include position(absolute, 0, 0);
  content: "";
  z-index: -1;
  background: rgba(0, 0, 0, 0.25);
}

%hover {
  border-color: rgb(177, 208, 244);
  background-color: rgba(177, 208, 244, 0.3);
}

/***** ICONS *****/
@include icon("ie", "ie.png");
@include icon("bin", "recycle-bin.ico");
@include icon("file", "file.png");
@include icon("about", "installer.png");
@include icon("calc", "calculator.png");
@include icon("paint", "paint.png");
@include icon("snipping", "snipping-tool.png");
@include icon("notepad", "notepad.png");
@include icon("computer", "my-computer.ico");
@include icon("folder", "folder.ico");
@include icon("personal", "personal.ico");
@include icon("desktop", "desktop.ico");
@include icon("disk-data", "disk-data.ico");
@include icon("disk-usb", "disk-usb.ico");
@include icon("disk-os", "disk-os.ico");
@include icon("disk-cd", "disk-cd.ico");
@include icon("cancel", "cancel.ico");
@include icon("save", "save.ico");
@include icon("player", "player.ico");
@include icon("info", "info.ico");

// IMPORTS
@import "desktop";
@import "taskbar";
@import "windows";
@import "themes";
@import "responsive";

/***** UTILITIES *****/
th.sortable {
  position: relative;
  min-width: 55px;

  &:after {
    content: "";
    position: absolute;
    margin-left: 3px;
    border: 5px solid transparent;
  }

  &.asc:after {
    border-bottom-color: #000;
    top: calc(50% - 7.5px);
  }

  &.des:after {
    border-top-color: #000;
    top: calc(50% - 3px)
  }
}

input[type="search"] {
  @include size(100%);
  padding: 0 5px;
  padding-right: 18px;
  border-width: 1px;

  background: {
    image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%3E%3Cpath%20stroke%3D%22%232070b9%22%20d%3D%22M%2010.5%201%20C%208.019531%201%206%203.019531%206%205.5%20C%206%206.558594%206.382813%207.523438%207%208.292969%20L%202.023438%2013.269531%20L%202.726563%2013.980469%20L%207.707031%209%20C%208.476563%209.617188%209.441406%2010%2010.5%2010%20C%2012.980469%2010%2015%207.980469%2015%205.5%20C%2015%203.019531%2012.980469%201%2010.5%201%20Z%20M%2010.5%202%20C%2012.4375%202%2014%203.5625%2014%205.5%20C%2014%207.4375%2012.4375%209%2010.5%209%20C%208.5625%209%207%207.4375%207%205.5%20C%207%203.5625%208.5625%202%2010.5%202%20Z%20%22%3E%3C%2Fpath%3E%3C%2Fg%3E%3C%2Fsvg%3E);
    position: 99% center;
    repeat: no-repeat;
  }
}

#windows-container {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grayout {
  filter: grayscale(100%);
  transition: 2s;

  * {
    pointer-events: none;
  }
}

p {
  margin: 3px;
}

label {
  margin: 0;
}

h2 {
  text-align: center;
  margin: 0;
}

.button.back {
  @include transform(scaleX(-1));
}

.button {
  display: inline-block;
  padding: 5px;
  box-shadow: inset 0 0 2px #fff, 0 0 2px 1px #1b3a4d;
  border: 0;
  border-radius: 3px;
  color: #fff;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.2) 40%,
    rgba(39, 71, 86, 0.5) 50%,
    rgba(39, 71, 86, 0.1) 90%,
    rgba(255, 255, 255, 0.5)
  );
}

.bt:not(:first-child) {
  margin-left: 5px;
}

.bt {
  padding: 1px 15px;
  font-size: 75%;
}

.bt-primary {
  border-color: #3083b7;
  box-shadow: inset 0 0 0 1px #34deff;
  background: linear-gradient(#e7f6fd 50%, #bde3f8 50%);
}

.bt-secondary {
  box-shadow: inset 0 0 0 1px #fff;
  background: linear-gradient(#efefef 50%, #d7d7d7 50%);
}

.round {
  line-height: 1;
  border-radius: 50%;
}

.title-1 {
  color: $headline;
  margin: 8px 0;
  font-size: 18px;
}

.text-muted {
  color: #999 !important;
  pointer-events: none !important;
}

.icon-sm {
  background-size: 50%;
}

@include space(margin);
@include space(padding);
@include text(200);
@include text(75);
@include text(50);
@include text(center);
@include text(right);
@include text(normal);
@include text(bold);
@include rotate(270);
