@media only screen and (max-width: 360px) {
  #result {
    font-size: 200%;
  }

  .taskbar-popup {
    font-size: 75%;
  }

  #window-player {
    table td:first-child {
      max-width: 140px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    #player-controls {
      #play-next,
      #play-prev {
        padding: 0 5px;
      }

      #volume {
        width: 50px;
      }

      > .player-control {
        width: 18px;
      }
    }

    #player-progress::-webkit-slider-thumb {
      display: block;
    }
  }
}
